extend base

include _reviewCard

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings')
          +navItem('/my-tours', 'My bookings', 'briefcase')
          +navItem('my-reviews', 'My reviews', 'star', true)
          +navItem('#', 'Billing', 'credit-card')

        - if(user.role === 'admin')   
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'Manage tours', 'map')
              +navItem('#', 'Manage users', 'users')
              +navItem('#', 'Manage reviews', 'star')
              +navItem('#', 'Manage bookings', 'briefcase')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md= title
          .my-reviews
            each review in reviews
              .reviews__card.review-margin
                a(href=`/tour/${review.tour.slug}`).reviews__link
                  h6.reviews__user= review.tour.name
                p.reviews__text= review.review
                .reviews__rating
                  each star in [1, 2, 3, 4, 5]
                    svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
                      use(xlink:href='/img/icons.svg#icon-star')
          